* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  user-select: none;
}
:root {
  --background-color: linear-gradient(45deg,#49a09d,#5f2c82,#eb23eb,#5f2c82);
  --question-background: linear-gradient(45deg,#cc6b00,#f5af19,#fab534,#4a74c3,#4cacaf);
  --correct-question: linear-gradient(to top, #008009, #41d14a);
  ---incorrect-question: linear-gradient(to top, #b10808, #f04949);
  --timer-background: cyan;
  --scoreboard: linear-gradient(to right, #9b005e, #c00b78);
}
body {
  background: var(--background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-size: 400% 400%;
  animation: gradientBG 15s ease infinite;
}
@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.container {
  width: 60vw;
  height: 95vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.heading,.score,.count-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.score-container,.count-container .question-number {
  margin: 0 -20px;
  z-index: -1;
  background: var(--scoreboard);
  padding: 10px 70px;
  color: white;
  font-size: 25px;
  font-weight: bold;
}

.app-logo img {
  height: 150px;
}

.question-container {
  width: 100%;
  color: white;
  font-weight: bold;
  font-size: 24px;
}

.question {
  background: var(--question-background);
  background-size: 400% 400%;
  animation: gradientQuestion 5s ease-in-out infinite;
  padding: 20px 10px;
  border-radius: 5px;
  border: 1px solid white;
}

@keyframes gradientQuestion {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.answer-btn {
  padding: 20px 0;
}

.ml-20 {
  margin-left: 20px;
}

.btn {
  text-align: left;
  border: 1px solid #eee;
  background: rgba(0, 0, 0, 0.3);
  cursor: pointer;
  color: white;
  font-size: 24px;
  font-weight: bold;
  width: 48%;
  padding: 15px 20px;
  margin: 6px;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  background-color: rgba(0, 0, 0, 0.6);
  transform: translateY(-3px);
}

.btn.correct {
  background: var(--correct-question);
}

.btn.incorrect {
  background: var(---incorrect-question);
}

.eliminated {
  display: none;
}

.lifeline-btn {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 50px 50px 0 0;
  right: 60px;
  bottom: 0;
  width: 100px;
  height: 300px;
  background-color: rgba(0, 0, 0, 0.3);
  border: 1px solid white;
}

.lifeline-btn button {
  margin-top: 30px;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: #124cd9;
  color: white;
  outline: none;
  border: 2px solid transparent;
  transition: border-color 0.3s ease-in-out;
  font-size: 18px;
  cursor: pointer;
}

.lifeline-btn .fa {
  font-size: 25px;
}

.lifeline-btn button:hover {
  transform: scale(1.1);
  border-color: #fff;
}

@media (max-width: 1000px) {
  .answer-btn {
    flex-direction: column;
    align-items: center;
  }

  .answer-btn button {
    width: calc(100% - 20%);
  }
}

.game-over,
.phoneafriend {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-over .cross,
.phoneafriend .cross {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
  color: #fff;
}

.game-over .contents,
.phoneafriend .contents {
  background-color: #fff;
  padding: 20px 5%;
  border-radius: 10px;
  max-width: 500px;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.game-over .text,
.phoneafriend .text {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.game-over .scoreboard {
  font-size: 24px;
  margin-bottom: 20px;
}

.game-over .scoreboard span {
  font-weight: bold;
  color: #f00;
}

.timer-container {
  position: relative;
  width: 100px;
  height: 100px;
  margin: 10px;
  right: 15px;
}

.timer-svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: rotate(-90deg);
}

.timer-circle {
  fill: none;
  stroke: #007aff;
  stroke-width: 5;
  stroke-dasharray: 283;
  stroke-dashoffset: 0;
  transition: stroke-dashoffset 1s linear;
}

.timer-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: white;
}

.timer-number {
  display: block;
}

.timer-unit {
  display: block;
  font-size: 12px;
}
